.loaderConten{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}
.loaderWidth{
  height: 2px;
  background-color: red;
}
.loaderFinish{
  background-color: blue;
  height: 2px;
}