@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button, textarea, select, input{
  border: none;
  outline: none;
}
section{
  margin: auto;
}
a{
  cursor: pointer;
}
main{
  width: 95%;
  margin: auto;
}
ul{
  padding-inline-start: 0;
  list-style: none;
}
.socialMedia > li{
  padding-right: 10px;
  padding: 10px;
  transition: transform .1s;
}
.socialMedia > li:hover{
  transform: scale(1.1);
}
.bg-slider-black{
  background: linear-gradient(0deg, rgb(0, 0, 0, .9) 0%, rgba(0, 0, 0, 0.57) 30%,rgba(255,255,255,0) 70%, rgba(255,255,255,0) 100%);
}
.grid-70-30{
  display: grid;
  grid-template-columns: 65% 35%;
  gap: 10px;
}
.grid-80-20{
  display: grid;
  grid-template-columns: 70% 30%;
}
.global-grid-layout{
  grid-row-start: 1;
  grid-row-end:   4;
}
.hover-bg-black-5:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-black-5{
  background-color: rgba(0, 0, 0, 0.5);
}
.line-clamp-3{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.line-clamp-2{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.se-video-container > figure {
  position: relative;
}
.se-video-container > figure > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px){
  .grid-70-30{
    display: block;
  }
}