.header{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.473);
  border-bottom: 1px solid rgb(114, 114, 114);
  backdrop-filter: blur(10px);
}
.formContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgb(0,40,125);
  background: linear-gradient(0deg, rgb(7, 0, 20) 0%, rgb(28, 0, 94) 100%);
}
.form{
  background-color: white;
  padding: 35px 30px;
  border-radius: 5px;
}
.inputCont{
  margin-bottom: 25px;
  position: relative;
}
.msgError{
  position: absolute;
  font-size: 13px;
  bottom: -20px;
  color: red;
}
.msgErrorLogin{
  align-items: center;
  color: red;
  fill: red;
  margin-bottom: 5px;
}
.msgErrorLogin > small{
  max-width: 30ch;
}
.inputCont > p {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 3px;
}
.inputLogin{
  display: flex;
  border: 1px solid rgb(116, 116, 116);
  border-radius: 3px;
  overflow: hidden;
}
.inputFailed{
  border: 1px solid rgba(255, 0, 0, 0.582);
}
.inputLogin > input {
  width: 100%;
  padding: 3px 10px;
}
.buttonInput{
  padding: 0px 7px;
}
.buttonInput:hover{
  background-color: rgba(0, 0, 0, 0.13);
}
.buttonSend{
  background-color: var(--color-primary);
  color: #fff;
  padding: 3px 0px;
  border-radius: 2px;
  display: block;
  width: 100%;
}
.sendLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
}
.sendLogin > svg{
  animation: load 600ms linear infinite;
}
@keyframes load {
  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(360deg);
  }
}