.card{
  border: 1px solid var(--skeleton-primary);
  border-radius: 8px;
  padding: 8px;
}
.imageBox{
  position: relative;
  border-radius: 5px;
  aspect-ratio: 16 / 9;
  background-color: var(--skeleton-primary);
  margin-bottom: 10px;
  overflow: hidden;
}
.titleBox{
  position: relative;
  border-radius: 3px;
  margin-top: 3px;
  height: 20px;
  width: 100%;
  background-color: var(--skeleton-primary);
  overflow: hidden;
}
.contentChilds{
  position: relative;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.contentChilds > span{
  position: relative;
  border-radius: 3px;
  width: 100%;
  height: 12px;
  background-color: var(--skeleton-primary);
  overflow: hidden;
}
.imageBox::before, .titleBox::before, .contentChilds > span::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, var(--skeleton-primary) 0%, var(--skeleton-secondary) 20%, var(--skeleton-primary) 40%, var(--skeleton-primary) 100%);
  background-repeat: no-repeat;
  background-size: 450px 400px;
  animation: shimmer 1.3s linear infinite;
}
@keyframes shimmer {
  0%{
    background-position: -450px 0;
  }
  100%{
    background-position: 450px 0;
  }
}