.headerNav{
  background: rgba(0, 0, 0, 0.7 );
  color: #fff;
  position: fixed;
  right: 0px;
  top: 0px;
  left: 0px;
  padding: 8px 12px;
  border-bottom: 1px solid rgb(122, 122, 122);
  backdrop-filter: blur(10px);
}
.navbarNick{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.displayMenu{
  background-color: rgba(39 39 42);
}
.menuList > li:hover{
  background-color: var(--color-dark);
}
.menuIconsLink{
  padding: 8px;
}
.menuName{
  margin-left: 8px;
  font-size: 15px;
  color: #fff;
  font-weight: 600;
}
.menuIconsLink{
  margin-left: 20px;
}
.pathActive{
  color: rgb(0, 106, 228);
}
@media screen and (max-width: 768px) {
  .navbarNick > p{
    display: none;
  }
  .menuBarsButton{
    display: none;
  }
  .displayMenu{
    position: fixed;
    z-index: 20;
    bottom: 0;
    width: 100%;
    padding: 0%;
    background-color: #000;
  }
  .menuList{
    display: flex;
    justify-content: space-between;
  }
  .menuList > li {
    width: 100%;
    border-radius: 0%;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }
  .menuLink{
    padding: 8px;
    width: 100%;
  }
  .menuIconsLink{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    padding: 0px 0px;
  }
  .borderCenterMenu{
    border: 2px solid #fff;
    padding: 5px;
  }
  .menuName{
    font-size: 10px;
    text-align: center;
    margin: 0;
    color: rgb(182, 182, 182);
    font-weight: 600
  }
  .noneMovil{
    display: none;
  }
  .pathActive{
    color: rgb(0, 106, 228);
  }
} 
@media screen and (min-width: 769px) {
  .navClosed{
    display: none;
  }
}